# Dependencies
/node_modules
/.pnpm
/.yarn

# Build & Output
/.next/
/out/
/build
/dist

# Environment variables & secrets (CRITICAL FOR GIT CLEANUP)
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
*.cert
*.pfx

# SQLite Databases / Dev DBs
*.db
*.db-journal

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE / OS
.DS_Store
.vscode/
.idea/
*.suo
*.user

# Prisma
/prisma/*.db
/prisma/*.db-journal
